.dark{color: #f1f1f1;}
.dark .logo {background-image: url(../files/arsentech-dark.svg);background-size: contain;}
.dark .menu-toggler span {background-color: #fff;}
.dark .navbar-menu a {color: #fff;}
.dark .navbar-menu a:hover {color: #1dd1a1 !important;}
.dark #icon{filter: invert(1);}
.dark .sticky {background: #353b48;}
.dark .sticky .logo {background-image: url(../files/arsentech-dark.svg);}
.dark .sticky .navbar-menu a {color: #f1f1f1;}
.dark .sticky .menu-toggler span {background-color: #f1f1f1;}
.dark .sticky .menu-toggler {color: #f1f1f1;}
.dark section {background: #353b48;}
.dark .section-title {color: #f1f1f1;}
.dark .section-title::before {background: #f1f1f1;}
.dark .section-title::after {background-color: #1dd1a1;border-color: #353b48;}
.dark section.alt {background-color: #2f343f;}
.dark section.alt .section-title::after{border-color: #2f343f;}
.dark .card-filter{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;margin-bottom: 24px;}
.dark .card-filter .list{list-style: none;background: #1dd1a1;padding: 12px 20px;margin: 5px;letter-spacing: 1px;cursor: pointer;color: white;transition: .2s ease-in-out all;}
.dark .card-filter .list.active{background: #0d5a45;color: #1dd1a1;}
.dark .contact-form input, .dark .contact-form textarea {background-color: #f1f1f1;color: #2f343f;}
.dark .contact-form .btn {border-color: rgb(29, 209, 161); background-color: #353b48;color: #1dd1a1;}
.dark .contact-form .btn:hover {background: #1dd1a1;color: #353b48;}
.dark .accordion-item{background-color: #283042;box-shadow: .5rem 2px .5rem rgba(0,0,0,.1);}
.dark .accordion-link{color: rgba(255,255,255,.8);background-color: #283042;}
.dark .accordion-link iconify-icon{color: #92e5a1;}
.dark .answer{background-color: #212838;}
.dark .answer::before{background-color: #22b455;}
.dark .answer p{color: rgba(255,255,255,.6);}
.dark .tab-card{background-color: #353b48; box-shadow: 1px 5px 24px 0 rgba(29,209,161,.05);}
.dark .tab-card .tab-card-body .tab-header{border-color: #aaa;}
.dark .tab-card .tab-card-body .tab-header .tab-link{color: #1dd1a1;}
.dark .tab-card .tab-card-body .tab-header .tab-link:hover{color: white;background: #0d5a45;}
.dark .tab-card .tab-card-body .tab-header .tab-link.active{color: #222;background: #1dd1a1;}
.dark .tab-card .tab-content .tab p{color: #f1f1f1;}
.dark .tab-card .tab-content .tab .download-options .download-select{background: #0d5a45;color: white;}
.dark .tab-card .tab-content .tab .download-options .downloadBtn{border-color: #1dd1a1;background: none;color: #1dd1a1;}
.dark .tab-card .tab-content .tab .download-options .downloadBtn:hover{color: #353b48;background-color: #1dd1a1;}
.dark .formore{color: #f1f1f1;}
.dark .formore a{color:#1dd1a1;}
.dark .formore a:hover{color:#22b455;}
@media screen and (max-width:980px){
     .dark .navbar-menu{background-color:#2f343f;}
     .dark .sticky .navbar-menu{background-color:#353b48;}
     .dark .sticky .menu-toggler.span{background-color:#f1f1f1;}
}